
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    font-family: cursive;
    height: 100vh;
}

.button-link {
    height: 70px;
    width: 200px;
    background-color: rgb(51, 5, 94);
    border-radius: 10px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    box-shadow: 1px 4px 8px rgba(255,255,255,0.8);
    overflow: hidden;
    position: relative;
    
}
.button-link span {
    color: whitesmoke;
}

.button-link::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: var(--xPos);
    left: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background:  rgb(109, 10, 248);
    transition: all 0.5s;
}

.button-link:hover::before {
    width: 410px;
    height: 410px;
}

#button-span {
    position: absolute;
    z-index: 1;
}